<div class="title">
  <a href="{{ site.url }}{{ site.baseurl }}"><img class="logo" src="{{ site.baseurl }}/images/favicon-32x32.png" style="border:1px white solid;" width="32px" height="32px"></a>
  <a href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
  <a class="extra" href="{{ site.url }}{{ site.baseurl }}">home</a>
  <a class="extra" href="{{ site.url }}{{ site.baseurl }}/about">about</a>
  <a class="extra" href="https://feedburner.google.com/fb/a/mailverify?uri={{ site.feeds.subscribe }}&amp;loc=en_US" target="_blank">Subscribe</a>
</div>
