<div class="title">
  <a href="{{ site.url }}{{ site.baseurl }}"><img class="logo" src="/blog/images/favicon-16x16.png" style="border:1px white solid;" width="16" height="16"></a>
  <a href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
  <a class="extra" href="{{ site.url }}{{ site.baseurl }}">home</a>
  <a class="extra" href="{{ site.url }}" target="_blank">about</a>
  <a class="extra" href="https://feedburner.google.com/fb/a/mailverify?uri=qndev&amp;loc=en_US" target="_blank">Subscribe to Qndev's blog by Email</a>
</div>
